.App {
  text-align: center;
  background-image: url('../src/resources/background_prairie_pokemon_screencapture_by_nemotrex_de8nlib-fullview.jpg');
  background-position: center;
  background-size: cover;
}

